body {
    margin: 0;
    text-align: center;
    font-family: 'Trispace', sans-serif;
    font-size: 0.9rem;
}

h1 {
    font-size: 4.5rem;
    margin: 50px auto 0 auto;
    font-family: 'Trispace', sans-serif;
    color: #3F3B6C;
}

h2 {
    font-family: 'Trispace', sans-serif;
    font-size: 1.6rem;
    color: #624F82;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: monospace;
    color: #9F73AB;
}

a {
    color: #624F82;
    font-family: 'Trispace', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #9F73AB;
}

p {
    line-height: 2;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #A3C7D6;
    border-width: 6px;
    width: 6%;
    margin: 100px auto;
  }

.profile-photo {
    height: 200px;
}

.html-img {
    height: 100px;
}

.css-img {
    height: 100px;
}

.js-img {
    height: 100px;
}

.react-img {
    height: 100px;
}

.ps-img {
    height: 100px;
}

.top-container {
    background-color: #A3C7D6;
    position: relative;
    padding-top: 100px;
}

.moon-image {
    height: 300px;
    margin: 50px auto;
}

.top-space {
    position: absolute;
    right: 50px;
    top: 50px;
    height: 100px;
}

.bottom-space {
    position: absolute;
    left: 50px;
    bottom: 300px;
    height: 100px;
}

.intro {
    width: auto;
    margin: 50px auto;
}

.skill-row {
    width: auto;
    margin: 50px auto;
    line-height: 2;
}

.h2-strong {
    font-weight: bold;
}

.middle-container {
    margin: 100px;
}

.contact-me {
    width: auto;
    margin: 50px auto;
}

.btn {
    border-radius: 7px;
    font-family: monospace;
    color: #ffffff;
    font-size: 1rem;
    background: #000000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #757575;
    text-decoration: none;
    color: white;
}

.bottom-container {
    background-color: #A3C7D6;
    padding: 50px 0 20px;
}

.copyright {
    color: rgb(100, 100, 100);
    font-size: 0.75rem;
    padding: 20px 0 5px 0;
}
